﻿:root {
  --light-color: #f9f8f0;
  --primary: #39c2db;
  --secondary: #E60097;
  --darker-color: #122620;
}

@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

html, body {
  height: 100%;
  margin: 0;
  background-color: var(--darker-color);
  color: var(--darker-color);
  text-shadow: 1px 1px 3px white;
  font-family: 'Rubik', sans-serif;
  scroll-behavior: smooth;
}

a {
  color: var(--secondary)
}


#aside {
  /* https://i.pinimg.com/originals/07/52/cd/0752cd6d7fc1e6b94384d171ea00231b.gif */
  background-image: url('../img/blue-objects.gif');
  color: var(--light-color);
  text-shadow: none;
  padding: 40px;
}

main {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  height: 100%;
}

#listaDeRecursos {
  overflow:auto;
  height: 100%;
}

#listaDeRecursos div {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-between;
}

#BTN-GenerarBrainstorming {
  width: 100%;
}

#BTN-EliminarTodo, #BTN-GenerarBrainstorming {
  display: none;
}

#resultadoDeBrainstorming {
  display: none;
  padding: 30px;
  height: 100%;
  width: 100%;
  background-image: url('https://i.pinimg.com/originals/46/b7/23/46b723df0478852dc83290f0fb4816e7.gif');
  background-color: var(--light-color);
  background-position: bottom;
  background-repeat: no-repeat;
}

#resultado {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.rowDiv {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.columnDiv {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
}

.center-h {
  text-align: center;
  align-items: center;
}

.center-v {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  text-shadow: 0px 0px 0px;
}

/* BOTONES */
.btn {
  border:0.1em solid var(--light-color);
  margin:0 0.3em 0.3em 0;
  background-color: var(--light-color);
  color: var(--darker-color);
  cursor: pointer;
  transition: all 0.2s;
}

.btn:hover{
  background-color:var(--secondary);
}

#BTN-GenerarBrainstorming {
  background-color: var(--secondary);
}

/* SNACKBAR */
#snackbar {
  display: none;
  background-color: var(--primary);
  color: var(--light-color);
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  z-index: 1;
  bottom: 30px;
  font-size: 17px;
}

#snackbar.show {
  display: block;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* ANIMATIONS */
.bouncy{
  animation:bouncy 5s infinite linear;
  position:relative;
}
@keyframes bouncy {
  0%{top:0em}
  40%{top:0em}
  43%{top:-.5em}
  46%{top:0em}
  48%{top:-0.1em}
  50%{top:0em}
  100%{top:0em}
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

/* --- RESPONSIVE --- */
/* TABLET
Esta Media Query se ejecutará sólo cuando la anchura de
la ventana del navegador sea mayor de 768 píxeles. */
@media screen and (max-width:768px){
  /* Acá van los elementos correspondientes */
}

/* MÓVIL
Esta Media Query se ejecutará sólo cuando la anchura de
la ventana del navegador sea menor de 620 píxeles. */
@media screen and (max-width: 620px){
  /* Acá van los elementos correspondientes */
  #aside {
    width: 100%;
    height: 100%;
  }

  #listaDeRecursos {
    overflow-y:scroll;
    overflow-x:hidden;
    height: 100%;
  }

  #resultado {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
  }

  .rowDiv {
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

/* FEATURE: Implementar estas funcionalidades
ALERTS
https://www.w3schools.com/bootstrap4/bootstrap_alerts.asp

FLIP CARD
https://www.w3schools.com/howto/howto_css_flip_card.asp

TO-DO LIST
https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_todo*/